<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>homepagetest - this is homepage designed for tt</title>
  <meta name="description" content="this is homepage designed for tt">
  <meta name="author" content="Andrea Wang">

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body><!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>My Test Website</title>
  <meta name="description" content="This is a test website just for fun">
  <meta name="author" content="John Roper">

  <link rel="stylesheet" href="assets/css/style.css">
</head>

<body>
   <h1>Hello World!</h1>
<p>This is some test text.</p>
</body>
</html>
    <script src="assets/js/script.js"></script>
</body>
</html>
